<div id="<%= dom_id note %>">
  <p>
    <strong>Company:</strong>
    <%= note.company_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= note.date %>
  </p>

  <p>
    <strong>Job Application Note:</strong>
    <%= note.job_application_note %>
  </p>

</div>
