<p style="color: green"><%= notice %></p>

<h1>Companies List</h1>

<p>
  <%= link_to "Add New Company", new_company_path %>
</p>

<div id="companies">
  <% @companies.each do |company| %>
    <%= render company %>
    <p>
      <%= link_to "Show this company", company %>
    </p>
  <% end %>
</div>
